*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --padding: 15px;
    --margin: 10px;
    --box-c: white;
    --border-bottom: solid red 2px;
}
.page{
    margin: 20px auto;
    width: 1400px;
    padding: 20px;
    background-color: #eee;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
}
.Osama-Mohamed{
    background-color: var(--box-c);
    padding: var(--padding);
    grid-column-start: 1;
    grid-column-end: 3;
    border-bottom: var(--border-bottom);
}

.job{
    color: grey;
    margin: 5px 0 20px;
}
.D1{
    font-weight: 600;
}
.D2{
    padding-top: 20px;
}
.Ahmed-Sayed{
    background-color: white;
    padding: var(--padding);
    border-bottom: var(--border-bottom);

}
.Shady-Nabil{
    background-color: black;
    color: white;
    border-bottom: var(--border-bottom);
    padding: var(--padding);
    grid-row-start: 1;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-end: 4;
}
.Mohamed-Ibrahim{
    background-color: var(--box-c);
    padding: var(--padding);
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-end: 4;
    border-bottom: var(--border-bottom);

}
.Mahmoud-Mohamed{
    background-color: black;
    color: white;
    padding: var(--padding);
    grid-row-start: 2;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-end: 3;
    border-bottom: var(--border-bottom);

}
.Ezz-Eldin{
    background-color: white;
    padding: var(--padding);
    border-bottom: var(--border-bottom);
    grid-row-start: 3;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-end: 4;

}
.Mohamed-Elsayed{
    background-color: white;
    padding: var(--padding);
    border-bottom: var(--border-bottom);

}
.Ibrahim-Sayed{
    background-color: white;
    padding: var(--padding);
    border-bottom: var(--border-bottom);
    background-color: black;
    color: #eee;
}
.Gamal-Sayed{
    background-color: white;
    padding: var(--padding);
    border-bottom: var(--border-bottom);
}
.Eman-sayed{
    background-color: white;
    padding: var(--padding);
    border-bottom: var(--border-bottom);
}